*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  line-height: 1.5rem;
  color: #fff;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  margin-inline: auto;
  max-width: 80rem;
}
  

a {
  text-decoration: none;
  color: white;
}

h1 {

}

.skill {
    color: yellow;
    font-weight: bold;
    text-transform: uppercase;
}

/* nav styles */
div.navigation {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

div.navigation > svg {
  margin-top: 1rem;
  margin-left: 1rem;
}

div.navigation > a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  margin-top: 1rem;
  margin-right: 15px;
}

.logo {
font-size: 10rem;
color: aquamarine;
}

div.content {
  padding-left: 3rem;
  padding-right: 3rem;
}

div.footer {
  margin-top: auto;
  background-color: hsl(0, 0%, 10%);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

div.footer > a {
  padding-inline: 5px;
}