---
import { getCollection, getEntryBySlug } from "astro:content";
import HomeLayout from '../layouts/HomeLayout.astro';
const pageTitle = "Home Page";
---
<HomeLayout pageTitle={pageTitle}>
<h1>{pageTitle}</h1>
<p>Welcome to astro.no.</p>
</HomeLayout>
